* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: hsl(233, 47%, 7%);
    --card-color: hsl(244, 38%, 16%);
    --accent-color: hsl(277, 64%, 61%);
    --main-heading: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-heading: hsla(0, 0%, 100%, 0.6);
}
body {
    font-size: 15px;
    background-color: var(--main-color);
}
.container {
    background-color: var(--accent-color);
    max-width: 1440px;
    max-height: 100vh;
    margin: 200px auto;

    
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.box-1 {
    padding: 60px;
}
.box-1 h1 {
    font-family: 'Inter';
    color: var(--main-heading);
}
.box-1 .main-text {
    padding: 20px 0 60px 0;
    line-height: 1.3;
}
.stats {
    display: flex;
 
}
.numbers:nth-child(2) {
    padding-left: 60px;
}
.numbers:nth-child(3) {
    padding-left: 60px;
}