* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: hsl(233, 47%, 7%);
    --card-color: hsl(244, 38%, 16%);
    --accent-color: hsl(277, 64%, 61%);
    --main-heading: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-heading: hsla(0, 0%, 100%, 0.6);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
}